#storyteller-view {
    height: 100vh;
    /* width: 750px; */
}

.editor-page .editor-pane {
    height: 100vh;
    background-color: #787878;
}

.editor-page .editor-section {
    background-color: #bdc3c7;
    margin-bottom: 16px;
    padding: 8px 16px;
}

.editor-page .editor-section h2 {
    margin: 0;
    margin-bottom: 8px;
}

.editor-page .selector-section {
    height: 200px;
    display: flex;
    flex-direction: column;
}

.editor-page .selector-section .selector-scroll {
    flex: 1;
    overflow-y: scroll;
}

.editor-page .selector-section .selection {
    display: flex;
}

.editor-page .selector-section .selection.selected .selection-primary {
    background-color: purple;
}

.editor-page .selector-section .selection button {
    margin: 0;
    order: 1px solid black;
}

.editor-page .selector-section .selection button:hover {
    background-color: blue;
}

.editor-page .selector-section .selection .selection-primary {
    flex: 1;
}

.editor-page .selector-section .selection .selection-secondary span {
    font-size: 18px;
}

.editor-page .attrs-section .attr {
    display: flex;
    margin-bottom: 8px;
}

.editor-page .attrs-section .attr > * {
    flex: 1 50%;
}

.editor-page .attrs-section .attr-map {
    margin-bottom: 8px;
}

.editor-page .attrs-section .attr-map > div {
    display: flex;
}

.editor-page .attrs-section .attr-map > div > * {
    flex: 1 0 50%;
}

.editor-page .primary-section-btns {
    display: flex;
}

.editor-page .primary-section-btns button {
    flex: 1;
}

.editor-page .sprite-spawner-section {
    height: calc(100vh - 300px);
}

.editor-page .sprite-spawner-section input[type=text] {
    height: 30px;
    padding: 0 8px;
    margin-bottom: 8px;
}  

.editor-page .sprite-spawner-section .selector-scroll {
    max-height: 100%;
}

.editor-page .sprite-spawner-section .selection {
    align-items: center;
    height: 80px;
}

.sprite-spawner-section.editor-page.selector.section .selection img {
    width: 40px;
    max-height: 100px;
}

.editor-page .sprite-spawner-section .selection button {
    height: 100%;
}

.editor-nav {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    background-color: #C7F2FF;
    width: 100%;
}

.editor-nav > button, .editor-nav > .btn-group > button {
    border: none;
    background-color: #C7F2FF;
    padding: 16px;
    margin: 0 50px;
    cursor: pointer;
}

.editor-nav button:focus, .editor-nav button:active {
    outline: none;
}

.img-size {
    max-width: 100px;
}

.offcanvas-height-limit {
    height: 375px;
}

.sprite-button {
    width: fit-content;
    height: min-content;
}
