body {
  font-family: 'Mulish';
  height: inherit;
  /* overflow: hidden; */
}

.main-container{
  display: flex;
  flex: 1;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.exit-play {
  border: none;
  color: black;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 14px 16px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

body {
  background-color: #FFFFFF;
}

.in-range {
  border: 1px solid red;
}

.nav-title {
  color: #FFFFFF;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 38px;
}

h1 {
  color: white;
}

footer {
  background: #FF8E01;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
}

.circle {
  display: flex;
  width: 65px;
  height: 40px;
  background-color: #012348;
  border-radius: 25%;
}

.nav-play {
  background-color: #FF8E01;
}

.nav-parents {
  width: 90px;
}

.circle-text {
  margin: auto;
}

.play-area {
  background-image: url('../public/sprites/bg-sea.png');
  height: 100vh;
  overflow: hidden;
}

.play-area::-webkit-scrollbar {
  display: none;
}

#playable {
  position: relative;
}

:focus {
  outline: none
}

.net-counter {
  position: absolute;
  right: 0px;
  width: 175px;
  height: 50px;
  font-size: 1.2em;
  /* text-align: center; */
  display: inline-flex;
  align-items: center;
}