body {
  font-family: 'Mulish';
  height: inherit;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.main-container{
  display: flex;
  flex: 1;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.exit-play {
  border: none;
  color: black;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 14px 16px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

body {
  background-color: #FFFFFF;
}

.in-range {
  border: 1px solid red;
}

.nav-title {
  color: #FFFFFF;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 38px;
}

h1 {
  color: white;
}

footer {
  background: #FF8E01;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
}

.circle {
  display: flex;
  width: 65px;
  height: 40px;
  background-color: #012348;
  border-radius: 25%;
}

.nav-play {
  background-color: #FF8E01;
}

.nav-parents {
  width: 90px;
}

.circle-text {
  margin: auto;
}

.play-area {
  background-image: url('../public/sprites/bg-sea.png');
  height: 100vh;
  overflow: hidden;
}

.play-area::-webkit-scrollbar {
  display: none;
}

#playable {
  position: relative;
}

:focus {
  outline: none
}

.vn-decision {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px 85px;
  background-color: #2b312d;
  flex-direction: column;
}

.choice-button {
  flex: 1;
  background-color: #E3E6E7;
  border: none;
  font-family: 'Balsamiq Sans';
  font-weight: 700;
  font-size: 20px;
  padding: 16px;
  border-radius: 32px;
  margin: 8px;
}

.net-counter {
  position: absolute;
  right: 0px;
  width: 175px;
  height: 50px;
  font-size: 1.2em;
  /* text-align: center; */
  display: inline-flex;
  align-items: center;
}

.about-us {
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  background-color: #1E7FA4;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
  padding-right: 2px;
  font-family: Mulish, Arial;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  display: flex;
}

.info-section {
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1px;
  display: flex;
}

.the-goal {
  font-size: 3rem;
  line-height: 60px;
  margin-left: 1rem;
  
}

.marine-rescue {
  font-size: 1.25rem;
}

.wendy-whale {
  width: 350px;
  height: 162px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin-bottom: 4px;
  margin-left: 23px;
}

.about-team {
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #85C9E3;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 11px;
  font-family: 'Mulish', Arial;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 60px;
  display: flex;
}

.flap-team {
  margin-top: 1px;
  margin-left: 3px;
  font-size: 3rem;
}

.four-members {
  margin-bottom: 16px;
  margin-left: 1px;
  font-size: 1.25rem;
  line-height: 25px;
}

.profile-group {
  color: #000;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 37px;
  padding-left: 20px;
  font-family: 'Mulish', Arial;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 45px;
  display: flex;
  ;
}

.profile-center {
  margin-top: 2px;
  margin-bottom: 7px;
  font-size: 1.25rem;
  line-height: 25px;
  text-align: center;
}


.profile-role {
  margin-top: 2px;
  margin-bottom: 7px;
  font-size: 1.25rem;
  line-height: 25px;
  width:100%; float:left; 
  text-align: center; 
}

 .profile-name {
  margin-bottom: 1px;
  font-size: 2.25rem;
  line-height: 45px;
  text-align: center;
 }


.ack-section {
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  background-color: #1E7FA4;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding-left: 20px;
  font-family: 'Mulish', Arial;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 60px;
  display: flex;
}

.last-section {
  margin-top: 5px;
  margin-left: 1px;
  font-size: 3rem;
}

.shout-out {
  align-self: center;
  margin-bottom: 6px;
  line-height: 25px;
}

.foot-section {
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  background-color: #1E7FA4;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-left: 29px;
  padding-right: 27px;
  font-family: Mulish, Arial;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 25px;
  display: flex;
}

.foot-title {
  height: 55%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  margin-left: 1px;
  display: flex;
}

.github-logo {
  size: 0cap;
  width: 24px;
  height: 12px;
  object-fit: cover;
}

.i-school {
  width: 238px;
  height: 45px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin-bottom: 2px;
}

.parent-what-is-section {
  background-color: #1E7FA4;
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  font-family: Mulish, Arial;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  display: flex;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.what-content-height {
  height: 371px;
}

.content-height {
  height: 500px;
}

.parent-what-learn-section {
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #85C9E3;
  font-family: 'Mulish', Arial;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 60px;
  display: flex;
}

.modal-title {
  color: #134254;
}

.modal-content {
  background-color: #F7EDE1;
  border: 10px solid #000000;
}

.modal-buttons {
  margin-bottom: 1rem;
  display: flex;
  justify-content: end;
}

.pancake-modal {
  position: absolute;
  top: 25%;
  left: 27%;
  /* right: 50%; */
  /* margin-left: 25%;  */
}